.toolbar-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  img {
    max-height: 60px;
    width: auto;
  }
}
.body-details{
  p{
    font-size: 14px;

  }
}
