ion-icon {
  font-size: 50px;
  color: #067342;
}
ion-item{
  --border-color: #ccc;
  ion-label{
    h4{
      font-size: 16px;
      font-weight: 600;
      color: #222;
    }
    p{
      font-size: 14px;
      color: #333;
    }
    span{
      font-size: 12px;
      color: #666;
    }
  }
}

