<ion-content [fullscreen]="true">
  <ion-list>
    @for (notification of notifications(); track $index) {
      <ion-item>
        <ion-avatar class="d-flex justify-content-center align-items-start h-100" slot="start">
          <ion-icon name="notifications-outline"></ion-icon>
        </ion-avatar>

        <ion-label>
          <h4>{{notification.title}}</h4>
          <p>{{notification.text}}</p>
          <span>{{notification.time | date}}</span>
        </ion-label>
      </ion-item>
    } @empty {
      <h4 class="text-center">There are no notifications yet!</h4>
    }
  </ion-list>
</ion-content>
