.toolbar-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  img {
    max-height: 80px;
    width: auto;
  }
}
ion-row {
  border-bottom: 1px solid #e0e0e0; // خط بين الصفوف
}

ion-row:first-child {
  border-bottom: 2px solid #00713b; // تمييز header
}

ion-col {
  display: flex;
  align-items: center;
  span{
    font-size: 12px;
    font-weight: 600;
  }
}
