<ion-content [fullscreen]="true">
  <ion-list class="support-list p-2">
    <ion-item class="support-item rounded-4 mb-3 p-0 d-flex justify-content-center align-items-center text-center">
      <ion-label>
          <img loading="lazy" src="/assets/images/support-images/service-tracking.png" class="w-100 rounded-4 object-fit-cover" alt="service">
      </ion-label>
    </ion-item>

    <ion-item class="support-item rounded-4 mb-3 p-0 d-flex justify-content-center align-items-center text-center">
      <ion-label>
        <a href="https://checkcoverage.apple.com/au/en/" target="_blank">
          <img loading="lazy" src="/assets/images/support-images/warranty.png" class="w-100 rounded-4 object-fit-cover" alt="warranty">
        </a>
      </ion-label>
    </ion-item>

    <ion-item class="support-item rounded-4 mb-3 p-0 d-flex justify-content-center align-items-center text-center">
      <ion-label>
        <a href="https://support.apple.com/en-au/exchange_repair" target="_blank">
          <img loading="lazy" src="/assets/images/support-images/repair-program.png" class="w-100 rounded-4 object-fit-cover" alt="repair">
        </a>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
