swiper-container {
  width: 100%;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
}

swiper-slide {
  background-size: cover;
  background-position: center;
}

.mySwiper {
  height: 80%;
  width: 100%;
  text-align: center;
  swiper-slide{
      display: flex;
  justify-content: center;
  align-items: center;
  }
  img{
    width: 200px !important;
  }
}

.mySwiper2 {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}

.mySwiper2 swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}

.mySwiper2 .swiper-slide-thumb-active {
  opacity: 1;
}

swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.product-info{
  .color-circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid #ccc;
    cursor: pointer;
    position: relative;
    transition: all 0.3s ease;

    &.selected {
      border-color: #017943;
      transform: scale(1.2);
    }

    &.out-of-stock {
      opacity: 0.5;
      cursor: not-allowed;
    }

    // .slash {
    //   position: absolute;
    //   top: 50%;
    //   left: 50%;
    //   width: 120%;
    //   height: 2px;
    //   background-color: #777;
    //   transform: translate(-50%, -50%) rotate(45deg);
    //   pointer-events: none;
    // }
  }

  .capacity-btn {
    width: 100%;
    text-align: center;
    // box-shadow: 0 0 3px #017943;
    border: 2px solid #ccc;
    background: #fff;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
    padding: 8px 0;
    font-weight: 600;

    &.active {
      // background-color: rgba(1, 121, 67, 0.1);
      border-color: #017943;
      color: #017943;
      font-weight: 700;
    }

    &.out-of-stock-cap {
      // box-shadow: 0 0 5px #999;
      color: #999;
    }
  }

  .size-msg{
    // box-shadow: 0 0 5px #017943;
    border: 2px solid #017943;
  }

  .of-stock-msg{
    background-color: #f5f5f7;
    h4{
      font-size: 20px;
    }

    a:hover{
      text-decoration: underline !important;
    }
  }

  .pay-method{
    .pay-list{
      .item{
        width: 100%;
        text-align: center;
        // box-shadow: 0 0 3px #017943;
        border: 2px solid #ccc;
        background: #fff;
        border-radius: 8px;
        cursor: pointer;
        font-size: 14px;
        padding: 8px 0;
        font-weight: 600;

        &.active {
          // background-color: rgba(1, 121, 67, 0.1);
          color: #017943;
          border-color: #017943;
          font-weight: 700;
        }
      }
    }
  }

  .price{
    box-shadow: 0 0 10px #ccc;
    width: fit-content;
    margin: 0 auto;
    .price-stock{
      font-size: 12px;
    }
  }

  .notify-msg{
    font-weight: 600;
  }
}

.product-details {
  padding-bottom: 1rem;
}

p{
  font-size: 12px;
}

hr{
  color: #ccc;
  margin: 0;
}

ion-item {
  --border-width: 0;
  border-bottom: 1px solid #cccccc4f;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-top: 10px;
  font-weight: 600;
}
