$mainColor: #067342;

.image-offer, .image-cat{
  box-shadow: 0 0 5px #eee;
}
ion-card{
  box-shadow: 0 0 5px #eee;
}
ion-card-title{
  font-size: 14px;
  font-weight: 600;
  color: $mainColor;
}
ion-card-subtitle{
  font-size: 12px;
}
ion-searchbar.custom {
  --border-radius: 20px !important;
}
.icon-wrapper {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.tvs-image{
  span{
    font-size: 18px;
    font-weight: 600;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
  }
}
.toolbar-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  img {
    max-height: 60px;
    width: auto;
  }
}
.close-btn{
  top: -10px;
  right: -10px;
}
