.main-btn{
  font-size: 12px;
}
.order-item {
  --padding-start: 12px;
}

.product-img {
  width: 70px;
  height: 70px;
  object-fit: contain;
}

.order-info {
  font-size: 14px;
}

.price {
  font-family: MS-900;
  font-size: 18px;
}

.cancel {
  color: red;
  cursor: pointer;
  margin-left: 8px;
}

.status-img {
  width: 80px;
  margin: auto;
}
