<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="tool-header d-flex align-items-center py-4 w-100">
      <ion-buttons slot="start" class="text-black">
        <ion-back-button defaultHref="/tabs/explore"></ion-back-button>
      </ion-buttons>

      <h1 class="m-0 flex-grow-1 text-center fs-2 text-black fw-bold me-4">Why TL</h1>
    </div>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <div class="about-us p-4">
    @for (item of aboutData; track $index) {
      @if(item?.picture){
        <div class="about-img mb-3">
          <img [src]="item?.picture" class="rounded-2" alt="tradeline">
        </div>
      }


      <div class="about-info">
        @if(item.title){
          <h3 class="mt-3" [innerHTML]="item?.title | safeHtml"></h3>
        }
        @if(item.description){
          <p class="mb-3" [innerHTML]="item.description | safeHtml"></p>
        }
      </div>
    }
  </div>
</ion-content>
