<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="tool-header d-flex align-items-center py-4 w-100">
      <ion-buttons slot="start" class="text-black">
        <ion-back-button defaultHref="/tabs/explore"></ion-back-button>
      </ion-buttons>

      <h1 class="m-0 flex-grow-1 text-center fs-2 text-black fw-bold me-4">Delivery</h1>
    </div>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <div class="header-section px-5 pb-3 pt-4">
    <img src="assets/images/delivery-image/shipping.png" class="w-100" alt="tradeline shipping and delivery">
  </div>

  <div class="content-section p-4">
    @for (shipping of shippingDeliveryData; track $index) {
      <div class="mb-4">
        <h3 class="main-color mb-2" [innerHtml]="shipping.title | dotnewline"></h3>
        <p [innerHtml]="shipping.description | dotnewline"></p>
      </div>
    }

  </div>
</ion-content>
