/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

@import 'ngx-toastr/toastr';

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import '@ionic/angular/css/palettes/dark.system.css';


$main-color: #00a359;
$second-color: #017943;

/* Custom Global Styles */
*{
  transition: all .3s;
}
body {
  --ion-background-color: #fff;
  --ion-text-color: #000000;
}

ion-header {
  --ion-background-color: $main-color;
  --ion-text-color: #ffffff;
}
ion-toolbar {
  --ion-background-color: $main-color;
  --ion-text-color: #ffffff;
}
ion-title {
  font-weight: 600;
}
.tool-header{
  background-color: #eee;
}
ion-card{
  --background: #fff;
  --color: #000;
}
ion-tabs {
  --background: #fff;
  --color: #222;
  --color-selected: $main-color;
}

ion-tab-bar {
  --background: #fff;
  --color: #222;
  --color-selected: $main-color;
  --border: none;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  height: 70px;
}

ion-list {
  --color: #222 !important;
  background: #fff !important;
}
ion-item {
  --background: #fff;
  --color: #222;
  transition: all .3s;
}

.main-color{
  color: $main-color !important;
}

a{
  text-decoration: none !important;
}

p{
  margin: 0 !important;
}

.icon-toolbar{
  font-size: 40px !important;
}

.main-btn {
  --background: #017943;
  --color: #fff;
  --border-radius: 20px;
  width: 75%;
}
